.page {

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
	position: relative;
	text-rendering: optimizelegibility;

	* {
		box-sizing:border-box;
	}

  position: relative;
	text-size-adjust: none;

  .inner {
    @include inner-container();
  }
}
