@mixin tablet {
	@include susy-breakpoint($tablet) {
		@content
	}
}

@mixin desktop {
	@include susy-breakpoint($desktop) {
		@content
	}
}

@mixin uber {
	@include susy-breakpoint($uber) {
		@content
	}
}


@mixin inner-container {
	@include container;
	padding: 0 gutter(6);

	@include susy-breakpoint($tablet, $tabletCol) {
		@include container($tablet);
		padding: 0 gutter(12);
	}

	@include susy-breakpoint($desktop, $desktopCol) {
		@include container($desktop);
		padding: 0 gutter(18);
	}

	@include susy-breakpoint($uber, $uberCol) {
		@include container($uber);
		padding: 0 gutter(24);
	}

}

@function calculateRem($size) {
  $remSize: $size / $defaultFontSize;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: ($size * 1px);
  font-size: calculateRem($size);

}
