<!DOCTYPE html>
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (gte IE 9)| IEMobile |!(IE)]><!--><html class="responsiveTablet js no-touch" ><!--<![endif]-->
<head id="Head" lang="en-GB">
	<meta charset="UTF-8">
	<title>{{ name }}</title>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, user-scalable=1, maximum-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>


</head>
<body>
	<link rel="stylesheet" type="text/css" href="css/main.css">


	<main id="main" class="page responsivePage" role="Brand page content">

			{% block content %}{% endblock %}

	</main>


<% if(babel) { %>
	<script src="js/bundle.js"></script>

<% } else { %>

	<script src="js/bundle.js"></script>

<% } %>


</body>
</html>
